@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row escolhe_financiamento">
                <div class="container">
                    @using (Html.BeginForm("GerarTabela", "Price", FormMethod.Post))
                    {
                        <h3>Preencha os dados do financiamento e escolha uma das opções</h3>
                        <div class="form-row align-items-center">
                            <br />
                            <div class="col-md-6">
                                <label>Valor do financiamento</label>
                                <input type="text" class="form-control mb-2" name="Valor" id="valorFinanciamento" placeholder="Valor financiamento" required>
                                <br />
                                <label>Prazo</label>
                                <input type="text" class="form-control mb-2" name="Prazo" id="prazo" placeholder="Prazo" required>
                                <br />
                                <label>Taxa de juros</label>
                                <input type="text" class="form-control mb-2" name="TaxaJuros" id="Taxa de juros" placeholder="Juros" required>
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Gerar Tabela Price</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Gerar valor das prestações</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Saldo Devedor T</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Saldo Devedor T - 1</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Parcela Juros T</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">1º Amortização</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Parcela amortização em T</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Amortização acumulada até T</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Amortização entre T e K</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Juros acumulados até T</button>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-info" name="tipoSubmit" value="geraTabela">Juros acumulados entre T e K</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
