@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center">
                <h1>Bem-vindo ao site de financiamento SAC/PRICE</h1>
            </div>
            <p>
                <b>SAC: Sistema de Amortização Constante</b> é uma forma de amortização de um empréstimo por prestações que incluem os juros, amortizando assim partes iguais do valor total do empréstimo. no sistema SAC o valor das prestações é decrescente.
            </p>
            <p>
                <b>Price: Tabela Price</b>, também chamado de sistema francês de amortização, é um método usado em amortização de empréstimo cuja principal característica é apresentar prestações (ou parcelas) iguais.
            </p>
            <div class="row" style="text-align:center">
                <form action="/Sac">
                    <button type="submit" class="btn btn-primary">Financiamento Sistema Sac</button>
                </form>
            </div>
            <br />
            <div class="row" style="text-align:center">
                <form action="/Price">
                    <button type="submit" class="btn btn-primary">Financiamento Sistema Price</button>
                </form>
            </div>
        </div>
    </div>
</div>
