@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row escolhe_financiamento">
                <form action="/Sac">
                    <button type="submit" class="btn btn-info">Financiamento Sistema Sac</button>
                </form>
            </div>
            <div class="row escolhe_financiamento">
                <form action="/Price">
                    <button type="submit" class="btn btn-info">Financiamento Sistema Price</button>
                </form>
            </div>
        </div>
    </div>
</div>
